* html, body {
    margin: 0;
    padding: 0;
}

/*
====================
top area start
====================
*/
.section-top {
    background: #fff;
}

.top-area {
    background: #bc282d;
    color: #ffd7d8;
    border-top: 5px solid #ad1c23;
    border-bottom: 1px solid #494c64;
    padding: 1em 0;
    font-size: 14px;

}

.top-area_menu ul li {
    padding: 0 0.5em;
}

.top-area_menu ul li a {
    color: #deb7b8;

}

.top-area_menu ul li a:hover {
    text-decoration: none;
    color: #ffd7d8;
}

.top-area_social a {
    padding: 0 0.5em;
    color: #ffd7d8;
}

/*
====================
section-menu start
====================
*/

.logo {
    height: 3em;
    width: 5em;
}

.nav-link {
    color: #444;
}

.nav-link:hover, a#navbarDropdownMenuLink:hover {
    color: #2032a4;
}

/*
====================
section-banner start
====================
*/

.section-banner {
    background: #fff;
}

.carousel-item {
    height: 80vh;
    overflow: hidden;
}

.carousel-item img {
    width: 100%;
    /*height: 80vh;*/
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*
====================
section2 start
====================
*/

.section-2 {
    background: #9797C6;
    padding: 1.5em 0;
}

.assessment {
    font-size: 1.5rem;
    color: #fff;
}

.assessment-btn {
    border-radius: 30px;
}

/*
====================
section3 start
====================
*/
.section3 {
    background: #fff;
    padding: 5em 0;
}

.section3-box {
    height: 9.8em;
    width: 100%;
    overflow: hidden;

}

.section3-box img {
    width: 100%;

}

.section3-box {
    position: relative;

}

.section3-box-title {
    position: absolute;
    top: 72%;
    background: #55f;
    width: 100%;
    padding: 0.5em 0.5em 0;
    transition: 500ms ease;

}

.section3-box a {
    color: #fff;
}

.section3-box-title h5 {
    padding: 0 0.5em 0.5em;
}

.section3-box:hover .section3-box-title {
    background: #55f9;
    color: #fff;
    bottom: 0;
    top: 0;
    padding-bottom: 0.5em;
}

/*
====================
section4 start
====================
*/

.section4 {
    /*background-repeat: no-repeat;*/

    width: 100%;
    padding: 80px 0;
    position: relative;
    background: url('../images/banner5.jpg');
    background-size: cover;
    background-position: center top;

}

.section4:before {
    content: '';
    background: rgba(40, 43, 20,0.7);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;

}

.section4-title {
    z-index: 1;
    color: #fff;
    font-size: 2em;
    padding: 0 0 1em 0;
    font-weight: 400;
    text-align: center;
    width: 100%;
}

.section4-title:after {
    content: '';
    display: block;
    width: 35px;
    height: 6px;
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.3em;
    /*z-index: 3;*/
}

.section4-image {
    margin-bottom: 1.5em;
    position: relative;
}

.section4-image img {
    height: 8em;
    width: 100%;
    border-radius: 5px;
}

.section4-caption {
    position: absolute;
    bottom: 0;
    padding: 0.3em;
    background: #0006;
    width: 100%;
    color: #fff;
    border-radius: 0 0 5px 5px;
}

.section4-image:hover{
    border-bottom: 3px double #fff;
    border-radius: 5px;
    padding-bottom: 0.4em;
    margin-top: -10px;
    transition: 400ms ease;
    margin-bottom: 0.4em;

}


/*============================
section 5 start
==============================
*/

.section5 {
    background: url('../images/banner3.jpg');
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;
    height: 30em;
    position: relative;
}

.section5::before {
    content: '';
    background: #0000004d;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

.section5-title {
    color: white;
    font-size: 2em;
    line-height: 60px;
    margin: 0 auto;
    padding: 1em;
    font-weight: 400;
    text-align: center;
    width: 100%;
    position: relative;
}

.section5-title:after {
    content: '';
    display: block;
    width: 35px;
    height: 6px;
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.3em;
}

.section5-body {
    position: relative;
}



/*============================
section6 start
==============================
*/

.section6-title {
    color: mediumpurple;
    font-size: 2em;
    line-height: 60px;
    margin: 0 auto;
    padding: 1em;
    font-weight: 400;
    text-align: center;
    width: 100%;
    position: relative;
}

.section6-title:after {
    content: '';
    display: block;
    width: 35px;
    height: 6px;
    background: #ad1c23;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.3em;
}

.section6-image img{
    width: 100%;
}


.section6-caption {
    font-size: 0.9em;
    padding: 1em 0;
}

.section6-caption a{
    color: #222b53;
    text-align: center;
}


.section6-caption a:hover{
    text-decoration: none;
    color: #4444c9;
}

.section6-image:hover {

}